<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549085768321-pe3nq3qbi3ir24dcg66knf4r69d6h26c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549085768321-pe3nq3qbi3ir24dcg66knf4r69d6h26c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549085768321-9pocr6qor5ftf2bukmhfpsqdoerd84g4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkH_lQelTu83-u1c_2hTDXeqoYYaphUFE</string>
	<key>GCM_SENDER_ID</key>
	<string>549085768321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.h4tw.courses.Health4TheWorldCourses</string>
	<key>PROJECT_ID</key>
	<string>health4theworld-chatbot</string>
	<key>STORAGE_BUCKET</key>
	<string>health4theworld-chatbot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549085768321:ios:4ba34ca2e2c010d8a73b80</string>
	<key>DATABASE_URL</key>
	<string>https://health4theworld-chatbot.firebaseio.com</string>
</dict>
</plist>